[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
django = "*"
djangorestframework = "*"
mysqlclient = "*"
pyjwt = "*"
django-cors-headers = "*"
pyotp = "*"

[dev-packages]

[requires]
python_version = "3.6.9"
